/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode Hexadecimal*/
  --first-color: #cd5118;
  --first-color-alt: #d56e3f;
  --title-color: #2c2420;
  --text-color: #68544b;
  --text-color-light: #958983;
  --body-color: #fff1eb;
  --container-color: #fff5f0;
  --box-shadow-color: #642f161a;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --title-font: "Lora", serif;
  --subtitle-font: "Dancing Script", cursive;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 0.4s; /* for dark mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/

/*========== Variables Dark theme ==========*/

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  font-family: var(--subtitle-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.3s, background 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--h3-font-size);
}

.nav-logo,
.nav-close,
.nav-toggle,
.change-theme-button {
  color: var(--title-color);
}

.nav-logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--h3-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav-logo:hover {
  color: var(--first-color);
}

.nav-logo img {
  width: 30px;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding-block: 5rem;
    z-index: var(--z-tooltip);
    transition: top 0.4s;
    box-shadow: 0 8px 20px var(--box-shadow-color);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .nav-link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--h3-font-size);
    transition: color 0.3s;
  }

  .nav-link:hover {
    color: var(--first-color);
  }

  .nav-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: var(--h1-font-size);
    cursor: pointer;
  }

  .nav-leaf-1,
  .nav-leaf-2 {
    position: absolute;
    opacity: 0.2;
  }

  .nav-leaf-1 {
    width: 100px;
    top: 0.5rem;
    left: -1.5rem;
    transform: rotate(165deg);
  }

  .nav-leaf-2 {
    width: 80px;
    right: -2rem;
    bottom: 0;
    transform: rotate(-30deg);
  }

  .nav-buttons {
    display: flex;
    column-gap: 0.5rem;
    cursor: pointer;
  }
}

/* Show menu */

.show-menu {
  top: 0;
}

/* Change background header */

/* Active link */

/*=============== HOME ===============*/
.home {
  position: relative;
}

.home-container {
  padding-top: 2rem;
  row-gap: 3rem;
}

.home-img {
  width: 300px;
  justify-self: center;
  transition: 0.6s;
}

.home-img:hover {
  transform: translateY(-8px);
}

.home-data {
  text-align: center;
}

.home-title {
  font-size: var(--biggest-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: 1rem;
}

.home-title img {
  width: 35px;
}

.home-title div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.home-description {
  padding: 0 1rem;
  margin-bottom: 2.5rem;
}

.home-leaf-1,
.home-leaf-2 {
  position: absolute;
  opacity: 0.2;
}

.home-leaf-1 {
  width: 80px;
  top: 8rem;
  left: -1rem;
  transform: rotate(90deg);
}

.home-leaf-2 {
  width: 100px;
  right: -2rem;
  bottom: 1rem;
  transform: rotate(-15deg);
}

.header-shadow {
  box-shadow: 0px 8px 20px var(--box-shadow-color);
}

/*=============== BUTTON ===============*/
.button {
  background-color: var(--first-color);
  padding: 1rem 3rem;
  border-radius: 4rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #fff;
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button i {
  font-size: 1.5rem;
  transition: transform 0.3s;
}
.button:hover i {
  transform: translateX(0.25rem);
}
/*=============== ABOUT ===============*/

/*=============== POPULAR ===============*/

/*=============== RECENTLY ===============*/

/*=============== NEWSLETTER ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
